html, body{
	padding: 0;
	margin: 0;
	font-size: 10px;
	line-height: 1.5em;
	min-height: 101%;
	font-family: 'Raleway', sans-serif;
	color: #044;
}
body *{
	box-sizing: border-box;
}
#imagelightbox{
	position: fixed;
	z-index: 9999;
	-ms-touch-action: none;
	touch-action: none;
}

body{
	background: #009D9B;
	overflow-x: hidden;
	font-size: 1.6em;
	line-height: 1.5em;
	background: #fff;
	/*background: linear-gradient(#00D86B 0px, #009D9B 800px);*/
	background-repeat: none;
	background-size: 100% 105%;
}
body.nav-on{
	overflow: hidden;
}
header{
}
header .cont{
	position: absolute;
	height: 600px;
	width: 100%;
	font-size: 4.8rem;
	line-height: 5.6rem;
	transition: all .4s;
	overflow-x: hidden;
}
	.nav-on header .cont{
		height: 100%;
	}
/*#sun{
	position: absolute;
	left: 50%;
	width: 756px;
	margin-left: -378px;
	display: block;
	transition: all .4s; 
	z-index: 2;
}
	#sun.sm .ring{ opacity: .2 }

	.ring{
		transform-origin: 377px 40px;
		animation: rotate_rings 99s alternate infinite linear;
	}
		.ring:nth-of-type(2), .ring:nth-of-type(4), .ring:nth-of-type(7) {
			animation: rotate_rings 120s alternate-reverse infinite linear;
		}
		
		.ring:nth-of-type(3), .ring:nth-of-type(5){
			animation: rotate_rings 140s alternate infinite linear;
		}
	#sun g{
		transform-origin: 377px 40px;
		animation: anim_particles 60s alternate infinite linear;
	}
		#sun g:nth-of-type(1),
		#sun g:nth-of-type(4),
		#sun g:nth-of-type(7){
			animation: anim_particles 120s alternate-reverse infinite linear;
		}
		#sun g:nth-of-type(2),
		#sun g:nth-of-type(6){
			animation: anim_particles 90s alternate infinite linear;
		}
	#sun.on{
		z-index: 20;
		transform: scale(4, 4) translate( 0, 160px);
	}
*/
/*#bubbles{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: -1;
}
	#bubbles path{
		animation: anim_bubbles 60s alternate-reverse infinite linear;
	}
	#bubbles path:nth-of-type(2n){
		animation: anim_bubbles 60s alternate infinite linear;
	}
	#bubbles path:nth-of-type(3n){
		animation: anim_bubbles 30s alternate-reverse infinite linear;
	}
	#bubbles path:nth-of-type(5n){
		animation: anim_bubbles 20s alternate infinite linear;
	}

@keyframes rotate_rings{
	0% 		{transform: rotate(0deg)}
	100% 	{transform: rotate(960deg)}
}
@keyframes anim_particles{
	0%, 100%{transform: scale(1); opacity: .4;}
	33%		{transform: scale(.7); opacity: .3;}
	66%		{transform: scale(1.3); opacity: .1;}
}
@keyframes anim_bubbles{
	0% 		{transform: translate(0,0)}
	100% 	{transform: translate(0,30%)}
}*/
#toggleMain, #mainNav{
	position: relative;
	margin: 1em auto;
	z-index: 30;
}
	#toggleMain{
		display: block;
		margin: .6em auto;
		width: 2.5em;
		height: 2.5em;
		border-radius: 50%;
	}
		.nav-on #toggleMain i{
			transform: rotate(270deg);
		}
#mainNav{
	width: 100%;
	top: -20em;
	transition: top .5s;
}
	.nav-on #mainNav{
		top: 0;
	}
	#mainNav a{
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		margin: .1em 0;
		line-height: 1.2em;
		text-align: center;
	}

button{
	background: none;
	color: #00B19B;
	font-size: 2.8rem;
	line-height: 2em;
	border: .1em solid transparent;
	padding: .1em;
	cursor: pointer;
	outline: none;
	transition: all .4s;
}
	button .fa{
		transition: all .3s;
	}
		button:hover, button:active{
			border-color: #FEC200;
		}
nav a{
	color: #fe9000;
	position: relative;
	overflow: hidden;
	font-family: 'Courier', monospace;
	transition: all .3s;
	z-index: 30;
}
	nav a:hover, nav a:focus, nav a:active{
		color: #00B19B;
	}
	nav a:before{
		content: '';
		bottom: 0;
		left: 48%;
		width: 4%;
		position: absolute;
		height: 0;
		background: #aaa;
		transition: all .3s;
		z-index: -1;
	}
		nav a:hover:before, nav a:focus:before, nav a:active:before{
			height: 5px;
			color: #00B19B;
		}
main{
	opacity: 1;
	transition: all .3s;
	/*padding-top: 10em;*/
}
	main:after,
	body:after{
		content: '';
		display: block;
		height: 0;
		width: 0;
		clear: both;
	}
	.nav-on main{
		opacity: 0;
	}

	main section{
		position: relative;
		width: 100%;
		height: 0;
		margin: 0;
		padding: 0;
		overflow: hidden;
		transition: top .9s ease-out;
		text-align: center;
		font-size: 1.6rem;
		line-height: 1.6em;
		z-index: -1;
	}
		main section.on{
			top: 90px;
			height: auto;
			overflow: visible;
			z-index: 1;
		}

		main section a,
		footer p a{
			text-decoration: none;
			font-family: 'Courier', monospace;
			padding: 0 .2em;
		}
	main section .cont{
		width: 90%;
		margin: 0 auto;
		transition: all 5s ease-in;
	}

	h1, h2, h3{
		font-family: 'Courier', monospace;
		line-height: 1em;
		letter-spacing: -1px;
		color: #FABB01;
		margin: .5em 0;
		font-weight: normal;
	}
	h1{font-size: 6.4rem; margin: 2em 0 .5em 0; text-align: right;}
	h2{font-size: 6rem; letter-spacing: 0; color: #055;}
	h3{font-size: 3rem; text-transform: uppercase; letter-spacing: 6px;}
		h2 b{
			color: #eee;
		}
.work-proj h2{
	line-height: .8em;
}

.stats{
	width: 100%;
	vertical-align: top;
	margin-bottom: 3em;
}
	.stats th, .stats td{
		padding: .2em 1em;
		line-height: 1.5em;
	}
	.stats th{
		font-family: 'Courier', monospace;
		font-weight: normal;
		font-size: 2.4rem;
		line-height: .8em;
		text-align: right;
		color: #fec200;
		width: 33%;
		vertical-align: top;
	}
	.stats td{
		text-align: left;
		vertical-align: top;
	}
section > .cont,
article > .cont,
footer > .cont{
	max-width: 1240px;
}
main section article{
	position: relative;
	top: -300px;
	height: 0;
	padding: 0;
	overflow: hidden;
	transition: top .2s ease-out;
	text-align: left;
}
	main section article.on{
		height: auto;
		top: 0;
		margin-bottom: -300px;
	}
	main #work article.on{
		top: -250px;
	}
	article .backTo{
		font-size: .5em;
		margin: 1em 0 0 -.9em;
	}
		article .backTo .fa{
			font-size: .6em;
		}
	article img#banner{
		width: 100%;
		min-width: 800px;
		margin-bottom: -11em;
	}
	article h2{
		height: 2.5em;
		text-align: left;
		text-indent: .2em;
		position: relative;
		z-index: 30;
		color: #fe9000;
		font-size: 5rem;
		text-shadow: 0 0 40px #009D9B;
	}
		article h2 b{
			padding: 0 .1em;
			background: #044;
		}

	article .gallery{
		list-style-type: none;
		padding: 0;
	}
		.gallery li img{
			max-width: 100%;
		}

	article .description{
		clear: both;
		padding: 2em 0;
	}
main section p{
	max-width: 50em;
	margin: 3em auto;
	clear: both;
}
	main section .lead{
		margin-top: 0;
	}
p.lead{
	max-width: 32em;
	font-size: 1.2em;
	line-height: 1.4em;
	margin: 2em auto;
	font-weight: 700;
}
p small{
	font-size: .9em;
}
img.in{
	padding: 1em;
	margin: 4em auto;
	background: #044;
}

img.fw{
	display: block;
	margin: 3em -25%;
	width: 150%;
}
img.r{
	float: right;
	margin: 4em 1em;
	max-width: 30%;
}
img.c{
	display: block;
	margin: 4em auto;
	max-width: 100%;
}


main #projNav{
	padding: 0;
	list-style-type: none;
}
	#projNav li{
		transition: all .4s;
		overflow: hidden;
		position: relative;
		margin: 1rem 1%;
	}
		#projNav li:hover{

		}
		#projNav li img{
			width: 200%;
			top: -20%;
			left: -99%;
			position: absolute;
			transition: all .3s ease-out;
			z-index: 2;
			border: 0; outline: 0;
			opacity: .8;
		}
			#projNav li:hover img{
				left: 0;
				opacity: 1;
				animation: scroll_left 12s alternate infinite linear;
			}
		#projNav li a{
			position: relative;
			text-align: right;
			display: block;
			font-size: 2rem;
			line-height: 1em;
			padding-bottom: 5em;
			z-index: 3;
		}
			#projNav li a b{
				display: block;
				color: #fff;
				font-weight: bold;
				font-size: 10rem;
				line-height: 10rem;
				margin: -.2em -.1em;

			}
			#projNav li a small{
				position: absolute;
				font-weight: bold;
				right: -8em;
				top: 20em;
				font-size: 2rem;
				line-height: 1em;
				padding: 0 .2em;
				background: #fec200;
				color: #044;
				transition: all .3s;
			}
			#projNav li:hover a small{
				right: .3em;
			}
@keyframes scroll_left{
	0% 		{transform: translate(0);}
	100% 	{transform: translate(-40%);}
}
@keyframes scroll_left{
	0% 		{transform: translate(0);}
	100% 	{transform: translate(-40%);}
}

main section .cta{
	clear: both;
	margin-top: 5em;
	margin-bottom: 8em;
	padding: 2em;
}
.cta p.lead{
	margin-bottom: 0;
}


@media(min-width: 710px){
	#projNav:after{
		content: '';
		display: block;
		height: 0;
		width: 0;
		clear: both;
	}
	#projNav li{
		width: 48%;
		vertical-align: top;
		float: left;
	}
	#projNav li.double{
		width: 98%;
	}
	#projNav li a{
		height: 14em;
	}
	#projNav li img{
		top: 0;
	}
	img.half{
		float: left;
		width: 49%;
		margin: 1em .5%;
	}
	img.third{
		float: left;
		width: 32.33%;
		margin: 1em .5%;
	}
}
/*@media(min-width: 1330px){
	section > .cont,
	article > .cont,
	footer > .cont{
		max-width: 70%;
	}

	article h2, .stats{
		width: 50%;
		float: left;
		position: relative;
		z-index: 20;
		top: -14rem;
	}
		article h2{
			font-size: 9.3rem;
		}
		.stats{
			padding: 1em;
			border: 3px solid #fff;
		}
		.stats th{
			color: #fff;
			text-shadow: 0 0 30px #222;

		}
		.stats td{
			background: rgba(255, 255, 255, .9)
		}
	#projNav li{
		width: 31.33%;
	}
	#projNav li.double{
		width: 64.65%;
	}
	#projNav li.dHigh a{
		height: 10em;
	}

}*/