html, body{
	padding: 0;
	margin: 0;
	font-size: 10px;
	line-height: 1.5em;
	min-height: 101%;
	font-family: 'Raleway', sans-serif;
	color: #044;
}
body *{
	box-sizing: border-box;
}
/*#imagelightbox{
	position: fixed;
	z-index: 9999;
	-ms-touch-action: none;
	touch-action: none;
}*/

body{
	background: #009D9B;
	overflow-x: hidden;
	font-size: 1.6em;
	line-height: 1.5em;
	background: linear-gradient(#eee 0px, #bbb 800px);
	background-repeat: no-repeat;
	background-size: 100% 105%;
}
body.nav-on{
	overflow: hidden;
}
header{
}
header .cont{
	position: absolute;
	height: 600px;
	width: 100%;
	font-size: 4.8rem;
	line-height: 5.6rem;
	overflow-x: hidden;
}
	.nav-on header .cont{
		height: 100%;
	}

#toggleMain, #mainNav{
	position: relative;
	margin: 1em auto;
	z-index: 30;
}
	#toggleMain{
		display: block;
		margin: .6em auto;
		width: 2.5em;
		height: 2.5em;
		border-radius: 50%;
	}
		.nav-on #toggleMain i{
			transform: rotate(270deg);
		}
#mainNav{
	width: 100%;
	top: -20em;
	transition: top .3s;
}
	.nav-on #mainNav{
		top: 0;
	}
	#mainNav a{
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		margin: .1em 0;
		line-height: 1.2em;
		text-align: center;
	}

button{
	background: none;
	color: #00B19B;
	font-size: 2.8rem;
	line-height: 2em;
	border: .1em solid transparent;
	padding: .1em;
	cursor: pointer;
	outline: none;
	transition: all .4s;
}
	button .fa{
		transition: all .3s;
	}
		button:hover, button:active{
			border-color: #FEC200;
		}
nav a{
	color: #fe9000;
	position: relative;
	overflow: hidden;
	font-family: 'Courier', monospace;
	transition: all .3s;
	z-index: 30;
}
	nav a:hover, nav a:focus, nav a:active{
		color: #00B19B;
	}
	nav a:before{
		content: '';
		bottom: 0;
		left: 48%;
		width: 4%;
		position: absolute;
		height: 0;
		background: #aaa;
		transition: all .3s;
		z-index: -1;
	}
		nav a:hover:before, nav a:focus:before, nav a:active:before{
			height: 5px;
			color: #00B19B;
		}
main{
	opacity: 1;
	transition: all .3s;
}
	main:after,
	body:after{
		content: '';
		display: block;
		height: 0;
		width: 0;
		clear: both;
	}
	.nav-on main{
		opacity: 0;
	}

	main section{
		position: relative;
		width: 100%;
		height: 0;
		margin: 0;
		padding: 0;
		overflow: hidden;
		transition: top .2s ease-out;
		text-align: center;
		font-size: 2.1rem;
		line-height: 1.5em;
		z-index: -1;
	}
		main section.on{
			top: 90px;
			height: auto;
			overflow: visible;
			z-index: 1;
		}

		main section a,
		footer p a{
			text-decoration: none;
			font-family: 'Courier', monospace;
			padding: 0 .2em;
		}
	main section .cont{
		width: 90%;
		margin: 0 auto;
		transition: all .5s ease-in;
	}

h1, h2, h3{
	font-family: 'Courier', monospace;
	line-height: 1em;
	letter-spacing: -1px;
	margin: .5em 0;
	font-weight: normal;
}
h1{font-size: 6.4rem; margin: 1em -0.3em 0 0; text-align: right; color: #555;}
	section h1{position: relative; top: 0.7em;}
h3{font-size: 3.2rem; text-transform: uppercase; letter-spacing: 6px;}
h2{font-size: 5.8rem; letter-spacing: 0;}
	h2 b{color: #eee;}
.backTo{
	margin: 1em;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	position: absolute;
	top: 0;
	z-index: 30;
	display: none;
}
	.on .backTo{
		display: block;
	}
	.backTo .fa{}

.stats{
	width: 100%;
	vertical-align: top;
	color: #eee;
}
	.stats th, .stats td{
		padding: .2em 1em;
		line-height: 1.5em;
	}
	.stats th{
		font-size: 1.4rem;
		line-height: 3.8rem;
		text-align: right;
		width: 33%;
		vertical-align: top;
	}
	.stats td{
		text-align: left;
		vertical-align: top;
	}
section > .cont,
article > .cont,
footer > .cont{
	max-width: 1240px;
}
main section article{
	position: relative;
	top: -300px;
	height: 0;
	padding: 0;
	overflow: hidden;
	transition: top .2s ease-out;
	text-align: left;
}
	main section article.on{
		height: auto;
		top: -8rem;
	}

	article img#banner{
		width: 100%;
		min-width: 800px;
		margin-bottom: -11em;
		opacity: 0.1;
	}
	article h2{
		height: 2.5em;
		text-align: left;
		text-indent: .2em;
		position: relative;
		z-index: 20;
		font-size: 5rem;
		color: #333;
	}
		article h2 b{
			padding: 0 .1em;
			background: #333;
		}

	article .gallery{
		list-style-type: none;
		padding: 0;
	}
		.gallery li img{
			max-width: 100%;
		}

	article .description{
		clear: both;
		background: #eee;
		padding: 2em;
	}
main section p{
	font-family: 'Courier', monospace;
	max-width: 50em;
	margin: 3em auto;
	clear: both;
	color: #333;
}
	main section .lead{
		margin-top: 0;
	}
p.lead{
	max-width: 32em;
	font-size: 2.4rem;
	line-height: 1.4em;
	margin: 2em auto;
}
p.img-txt{
	position: relative;
	margin-top: -20em;
	width: 240px;
	float: right;
	color: #fff;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1.2em;
}
p small{
	font-size: .9em;
}
img.in{
	background: rgba(255, 255, 255, 0.2);
	padding: 0.5em;
	margin: 2em 1em;
	box-shadow: 1em 1em 0 rgba(0,0,0, .2);
}

img.fw{
	display: block;
	margin: 3em -30%;
	width: 160%;
	min-width: 600px;
	padding: 2em 0;
}
img.r{
	float: right;
	margin: 1em 1em;
	max-width: 30%;
}
img.c{
	display: block;
	margin: 1em auto;
	max-width: 100%;
}

main #projNav{
	padding: 4em 2em 2em 2em;
	background: #fff;
	list-style-type: none;
}
	#projNav li{
		overflow: hidden;
		position: relative;
	}
		#projNav li:hover{

		}
		#projNav li img{
			width: 200%;
			top: .5em;
			left: -99%;
			position: absolute;
			transition: all .4s ease-out;
			z-index: 2;
			border: 0; outline: 0;
			opacity: .4;
			filter: blur(8px);
		}
			#projNav li:hover img{
				left: 0;
				opacity: 1;
				animation: scroll_left 12s alternate infinite linear;
				filter: blur(0px);
			}
		#projNav li a{
			position: relative;
			text-align: right;
			display: block;
			font-size: 2rem;
			line-height: 2em;
			padding: 1.5em 2em;
			color: #fff;
			z-index: 3;
			height: 10em;
		}
			#projNav li a b{
				display: block;
				font-weight: bold;
				font-size: 10rem;
				line-height: 10rem;
				margin: -.2em 0;
				letter-spacing: -1rem;
			}
			#projNav li a small{
				position: absolute;
				right: -10em;
				top: 6.5em;
				font-size: 2rem;
				line-height: 2em;
				padding: 0 .2em;
				background: #fff;
				color: #333;
				transition: all .3s;
			}
			#projNav li:hover a small{
				right: 2em;
			}

/* what is this for? */
@keyframes scroll_left{
	0% 		{transform: translate(0);}
	100% 	{transform: translate(-40%);}
}
@keyframes scroll_left{
	0% 		{transform: translate(0);}
	100% 	{transform: translate(-40%);}
}

main section .cta{
	clear: both;
	margin-top: 5em;
	margin-bottom: 8em;
	padding: 2em;
}
.cta p.lead{
	margin-bottom: 0;
}

/* small lanscape display or large portrait
----------------------------------- */
@media(min-width: 710px){
	#projNav:after{
		content: '';
		display: block;
		height: 0;
		width: 0;
		clear: both;
	}
	#projNav li{
		width: 50%;
		height: 14em;
		vertical-align: top;
		float: left;
	}
	#projNav li.double{
		width: 100%;
	}
	#projNav li a{
		height: 14em;
	}
	#projNav li img{}
	img.half{
		float: left;
		width: 50%;
	}
	img.third{
		float: left;
		width: 33.33%;
	}
	p.img-txt{
		font-size: 2.4rem;
		width: 50%;
	}
}


/* large display (probably landscape)
----------------------------------- */
@media(min-width: 1330px){
	section > .cont,
	article > .cont,
	footer > .cont{
		max-width: 70%;
	}
	p.img-txt{
		position: relative;
		margin-top: -18em;
		float: right;
		color: #fff;
		line-height: 1.2em;
		font-size: 1.5em;
		width: 40%;
		font-weight: normal;
	}

	.stats{
		width: 40%;
		padding: 1em;
		border: 3px solid #fff;
		position: absolute;
		right: 5em;
		margin: 2em;
	}
		p.lead{
			float: left;
			width: 60%;
			padding: 1em 2em;
			position: relative;
			z-index: 11;
		}
		.stats th{
			color: #333;

		}
		.stats td{
			background: rgba(255, 255, 255, .9);
			background: #333;
		}
	#projNav li{
		width: 33.33%;
		height: 20em;
	}
	#projNav li.double{
		width: 66.66%;
		height: 20em;
	}
	#projNav li.dHigh a{
		height: 10em;
	}

}