html, body{
	padding: 0;
	margin: 0;
	font-size: 10px;
	line-height: 1.5em;
	min-height: 101%;
	font-family: 'Verdana', sans-serif;
	color: #555;
}
body *{box-sizing: border-box; }
body{
	background: #009D9B;
	overflow-x: hidden;
	font-size: 1.6rem;
	line-height: 1.5rem;
	background: linear-gradient(#999 0px, #eee 4000px);
	background-repeat: no-repeat;
}
	body.nav-on{ overflow: hidden; }

header{
	position: absolute; 
	width: 100%;
	height: 0;
	background: #fff;
}
	.nav-on header{
		height: 100%;
		z-index: 30;
	}
	header .cont{
		height: 600px;
		width: 100%;
		font-size: 1.6rem;
	}
		.nav-on header .cont{
			height: 100%;
			background: rgba(255, 255, 255, .8);
		}

#toggleMain{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 31;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
}
	.nav-on #toggleMain i{
		transform: rotate(270deg);
	}
#mainNav{
	z-index: 30;
	position: absolute;
	top: -60em;
	margin: 1em auto;
	width: 100%;
	transition: top .3s;
}
	.nav-on #mainNav{top: 3em; height: 1200px;}
	#mainNav a{
		font-size: 3rem;
		padding: .5em;
		font-weight: bold;
		text-decoration: none;
		display: block;
		margin: .1em 0;
		line-height: 1.2em;
		text-align: center;
	}

button{
	background: none;
	font-size: 2.8rem;
	line-height: 2em;
	border: .1em solid transparent;
	padding: .1em;
	cursor: pointer;
	outline: none;
	transition: all .4s;
}
	button .fa{
		transition: all .3s;
	}
		button:hover, button:active{
			border-color: #fff;
		}
nav a{
	color: #555;
	position: relative;
	overflow: hidden;
	transition: all .3s;
	
}
	nav a:hover, nav a:focus, nav a:active{
		color: #333;
	}
	nav a:before{
		content: '';
		bottom: 0;
		left: 48%;
		width: 4%;
		position: absolute;
		height: 0;
		background: #aaa;
		transition: all .3s;
		z-index: -1;
	}
		nav a:hover:before, nav a:focus:before, nav a:active:before{
			height: 5px;
			color: #00B19B;
		}

main{
	padding: 0 0 0 7rem;
	min-height: 100%;
}
	main section{
		width: 100%;
		height: 0;
		margin: 0;
		padding: 0;
		transition: all .9s ease-out;
		overflow: hidden;
		z-index: -1;
		border-left: 1px solid #ddd;
	}
		main section.on{
			min-height: 100%;
			height: auto;
			overflow: visible;
			z-index: 1;
		}

		main section a,
		footer p a{
			text-decoration: none;
			padding: 0 .2em;
		}
	main section > .cont{
		width: 90%;
		margin: 0 auto;
		transition: all .5s ease-in;
	}

h1, h2, h3{
	line-height: 1em;
	letter-spacing: -1px;
	margin: 0;
	font-weight: normal;
}
	h1{
		position: relative;
		top: 1em;
		padding: 2em 0;
		text-transform: uppercase;
		letter-spacing: .6em;
		font-size: 3rem;
	}
	h1 small{
		position: absolute;
		right: 0;
		text-transform: none;
		letter-spacing: 0px;
		font-size: 1.8rem;
		transform: rotate(90deg);
	}
	h2{
		text-align: center;
		font-size: 4.8rem;
		line-height: 1.4em;
	}

.backTo, .nextArticle{
	padding: 2.4rem;
	font-size: 2.4rem;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	position: absolute;
	top: 0;
	z-index: 10;
}
	.backTo:hover, .nextArticle:hover{
		background: rgba(0,0,0, .2);
	}
.nextArticle{
	right: 0;
}
.stats{
	width: 100%;
	vertical-align: top;
	margin-bottom: 1em;
}
	.stats th, .stats td{
		padding: .2em 1em;
		line-height: 1.5em;
	}
	.stats th{
		font-size: 1.6rem;
		line-height: 2.4rem;
		text-align: right;
		width: 33%;
		vertical-align: top;
	}
	.stats td{
		text-align: left;
		vertical-align: top;
	}
main section article{
	position: relative;
	top: -4000px;
	height: 0;
	padding: 0;
	overflow: hidden;
	transition: top .3s ease-out;
	text-align: left;
}
	main section article.on{
		top: 0;
		height: auto;
		padding-bottom: 2em;
	}

	article img.banner{
		position: absolute;
		width: 256px;
		top: 7em;
		left: 50%;
		margin-left: -128px;
		border-radius: .5em;
		z-index: 0;
		box-shadow: 2px 5px 20px rgba(50, 30, 20, .2);
	}
	section article > .cont{
		width: 90%;
		margin: auto;
		margin-top: 22em;
		position: relative;
		z-index: 1;
		background: #eee;
	}
	article h2{
		padding: .5em;
	}

	article .gallery{
		list-style-type: none;
		padding: 0;
	}
		.gallery li img{
			max-width: 100%;
		}

	article .description{
		clear: both;
		background: #eee;
		padding: 1em;
	}
main section p{
	max-width: 50em;
	margin: 3em auto;
	clear: both;
	color: #333;
}
	main section .lead{
		margin-top: 0;
	}


main #projNav{
	padding:0;
	list-style-type: none;
}
	#projNav li{
		overflow: hidden;
		position: relative;
	}
		#projNav li:hover{
		}
		#projNav li img{
			width: 800px;
			top: .5em;
			left: -200px;
			position: absolute;
			transition: all .4s ease-out;
			z-index: 2;
			border: 0; outline: 0;
			opacity: .8;
			filter: blur(3px);
		}
			#projNav li:hover img{
				left: 0;
				opacity: 1;
				animation: scroll_left 12s alternate infinite linear;
				filter: blur(0px);
			}
		#projNav li a{
			position: relative;
			text-align: right;
			display: block;
			font-size: 2rem;
			line-height: 2em;
			padding: 1.5em 2em;
			color: #fff;
			z-index: 3;
			height: 10em;
		}
			#projNav li a b{
				display: block;
				font-weight: bold;
				font-size: 10rem;
				line-height: 10rem;
				margin: -.2em 0;
				letter-spacing: -1rem;
			}
			#projNav li a small{
				position: absolute;
				right: -20em;
				top: 6.5em;
				font-size: 2rem;
				padding: .5em 3em .5em 1em;
				background: #fff;
				color: #333;
				transition: all .3s;
			}
			#projNav li:hover a small{
				right: -1em;
			}

